.oferta {
    background-color: #00446e;
    padding: 6rem;
    text-align: center;
}

.precio {
    font-size: 6rem;
    margin: 0;
}
/* aplica el cambio cuando sea entre 600px y 800px */
/* para agregar una tercera condicion tendria que agregar una "," ej: @media (min-width: 600px) and (max-width: 800px), (max-width: 1200px) {*/
@media (min-width: 600px) and (max-width: 800px) {
    .oferta {
        background-color: yellowgreen;
    }
}